/* .timeline {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%;
	min-height: 100vh;
	position: relative;
	margin: 100vh 0;
}

.card {
	display: flex;
	position: relative;
	background: transparent;
	width: 100%;
	gap: 2rem;
	height: 50vh;
	opacity: 0;
	transform: translateY(1.5rem);
}

.card.visible .card-progress_dot {
	opacity: 1;
}

.card.visible .card {
	opacity: 1;
	transform: translateY(0rem);
}

.card:last-child .card-bar {
	display: none;
}

.card-progress {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	height: 100%;
}

.card-progress_dot {
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: white;
	opacity: 0.8;
}

.card-bar {
	position: relative;
	width: 3px;
	height: 100%;
	overflow: hidden;
	background-color: var(--grey);
}

.card-bar__fill {
	width: 100%;
	height: 100%;
	background-color: var(--main-color);
	transform-origin: top;
	transform: translateY(-100%);
	transition: transform 1s ease-in-out;
} */
