.storage-table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	caret-color: transparent;
}

th {
	font-weight: bold;
}

td,
th {
	padding: 0.5em 0.3em;
	text-align: left;
	border-bottom: 0.0625em solid var(--window);
	text-wrap: nowrap;
}

td:first-child span {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 1rem;
	display: block;
	width: clamp(5rem, 30vw, 10rem);
	overflow: hidden;
	text-overflow: ellipsis;
}

td:nth-child(5) {
	cursor: pointer;
}

.storage-table img {
	width: 2.6rem;
	height: 2.6rem;
}

@media (width < 50rem) {
	.storage-table {
		th:nth-child(2),
		td:nth-child(2),
		th:nth-child(3),
		td:nth-child(3) {
			display: none;
		}
	}
}

@media (width < 35rem) {
	.storage-table {
		th:nth-child(4),
		td:nth-child(4) {
			display: none;
		}
		th:nth-child(5),
		td:nth-child(5) {
			text-align: end;
		}
		td:first-child {
			width: 100%;
		}
	}
}
