@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--background: #ffffff;
	--window: #ddd;
	--text: #000000;
	--main-color: #4362ee;
	--second-color: #4bc8ef;
	--glass: #ffffff80;
	--border: #ccc;
	--grey: #757575;
	color-scheme: light;
}

:root.dark {
	--background: #0f0f0f;
	--window: #313131;
	--text: #ffffff;
	--glass: #31313180;
	--border: #464646;
	color-scheme: dark;
}

#root {
	height: 100%;
}

* {
	font-weight: 600;
	font-family: 'Nunito';
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	/* animation: appearance 0.5s ease-out; */
	color: var(--text);
	transition: background-color 0.3s;
	background-color: var(--background);
	padding: 0.3rem;
}

main {
	width: 100%;
	min-height: 100%;
}

body::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
body::-webkit-scrollbar-track {
	background: transparent;
}
body::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
	border-radius: 20px;
	border: 3px solid transparent;
}

@keyframes appearance {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
