.disk-main {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	gap: 2rem;
}

@media (width < 81.25rem) {
	.disk-main {
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 2rem;
		max-width: 60rem;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (width < 60rem) {
	.storage {
		width: 100%;
		min-width: unset;
	}
}

@media (width < 35rem) {
	.progress-bar {
		display: none;
	}
}
