.privilege {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-wrap: nowrap;
	gap: clamp(0.3rem, 50vw, 2rem);
	justify-content: center;
	align-items: center;
	padding: 1rem;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overflow-x: auto;
}

.privilege-card {
	aspect-ratio: 2/3;
	padding: 1rem;
	background-color: var(--glass);
	font-size: 1.3rem;
	flex: 1;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	scroll-snap-align: start;
}

.privilege-card__description {
	color: var(--grey);
	list-style: none;
}

.privilege-card__description li {
	padding: 0.5rem 0;
}

.privilege-card button {
	border: none;
	cursor: pointer;
	transition: 0.3s;
	font-size: 1.3rem;
	width: 100%;
	margin-top: 2rem;
	border-radius: 0.5rem;
	height: 2.5rem;
	transition: 0.3s;
	color: white;
}

.privilege-card_price {
	margin-top: auto;
}

@media (hover: hover) {
	.privilege-card button:hover {
		scale: 1.03;
	}
}

@media (hover: none) {
	.privilege-card button:active {
		scale: 1.03;
	}
}

@keyframes glowing_card {
	0% {
		box-shadow: inset 0 0 5px #fff, inset 0 0 20px #f0f, inset 0 0 10px #0ff,
			0 0 5px #fff, 0 0 20px #f0f, 0 0 10px #0ff;
	}
	50% {
		box-shadow: inset 0 0 5px #fff, inset 0 0 20px var(--main-color),
			inset 0 0 10px #0ff, 0 0 5px #fff, 0 0 20px var(--main-color),
			0 0 10px #0ff;
	}
	100% {
		box-shadow: inset 0 0 5px #fff, inset 0 0 20px #f0f, inset 0 0 10px #0ff,
			0 0 5px #fff, 0 0 20px #f0f, 0 0 10px #0ff;
	}
}
