.privilege {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	gap: clamp(0.3rem, 50vw, 2rem);
	justify-content: center;
	align-items: center;
	padding: 1rem;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overflow-x: auto;
}

.privilege-card {
	aspect-ratio: 1/1;
	padding: 1rem;
	background-color: transparent;
	font-size: 1.3rem;
	flex: 1;
	border-radius: 0.6rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	scroll-snap-align: start;
}

.privilege-card button {
	border: none;
	cursor: pointer;
	transition: 0.3s;
	font-size: 1.3rem;
	width: 100%;
	margin-top: 2rem;
	border-radius: 0.5rem;
	height: 2.5rem;
	transition: 0.3s;
	color: white;
}

.privilege-card p:nth-child(2) {
	color: var(--grey);
	margin-bottom: 2rem;
}

@media (hover: hover) {
	.privilege-card button:hover {
		scale: 1.03;
	}
}

@media (hover: none) {
	.privilege-card button:active {
		scale: 1.03;
	}
}
