.search {
	width: 100%;
	font-size: 1.3rem;
	border: none;
	border-radius: 0.5rem;
	background-color: white;
}

.search.active {
	height: auto;
}

.search-input {
	padding: 0.3rem;
	gap: 0.3rem;
	display: flex;
	align-items: center;
	width: 100%;
	height: 2.5rem;

	path {
		color: inherit;
	}
}

.search-data.active {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

.search-data {
	display: none;
}

.search-data th {
	display: none;
}

.search input {
	height: 100%;
	width: 100%;
	border: none;
	border-radius: 0.8rem 0 0 0.8rem;
	font-size: 1em;
	background-color: transparent;
	padding-left: 0.6rem;

	&:focus {
		outline: none;
	}
}

.search button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1em;
	color: var(--grey);
	transition: 0.3s;
}

@media (hover: hover) {
	.search button[type='submit']:hover {
		color: var(--text);
	}

	.search button[type='reset']:hover {
		color: red;
	}
}

@media (hover: none) {
	.search button[type='submit']:active {
		color: var(--text);
	}

	.search button[type='reset']:active {
		color: red;
	}
}

@media (width < 30rem) {
	.search {
		min-width: 100%;
	}
}
