@media (hover: hover) {
	.welcome__title--buttons button:hover {
		scale: 1.05;
	}
	.welcome__title--buttons button:active {
		scale: 1;
	}
}

@media (width < 25rem) {
	.welcome__title--buttons span {
		display: none;
	}
}
