.welcome {
	display: flex;
	align-items: center;
	caret-color: transparent;
	flex-direction: column;
	min-width: 99vw;
	min-height: calc(100vh - 4rem);
	padding: 1rem;
}

.scena-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.welcome-container {
	position: relative;
	width: 100%;
}

.welcome-container__content {
	display: inline-block;
	max-width: 50rem;
	bottom: 2rem;
	left: 0rem;
}

.welcome-container__content h1 {
	font-size: 3rem;
	font-weight: 650;
	margin-bottom: 1rem;
}

.welcome-container__content-stars {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	color: #ffc72c;
	margin-top: 2rem;
}

.welcome-container__content-stars h3 {
	color: var(--text);
}

.welcome-container__content p {
	color: var(--grey);
	width: 80%;
}

.welcome-container__content button {
	border: none;
	background-color: var(--text);
	color: var(--background);
	padding: 0.5rem;
	border-radius: 0.8rem;
	margin-top: 2rem;
	transition: 0.5s ease;
	font-size: 1.1rem;
	cursor: pointer;

	&:hover {
		scale: 1.01;
	}
}

.welcome-container__logo {
	position: absolute;
	bottom: 2rem;
	right: 0;
}

@media (width < 26rem) {
	.welcome-container__logo {
		display: none;
	}

	.welcome-container__content {
		position: static;
	}

	.welcome-container__content button {
		width: 100%;
	}
}
