.welcome {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	caret-color: transparent;
}

.welcome img {
	min-width: 50%;
	height: 100%;
	margin-left: auto;
	object-fit: cover;
	transform: scaleX(-1);
}

.welcome__title h1 {
	font-size: clamp(2rem, 5vw, 4rem);
	margin: 0;
}

.welcome__title p {
	font-size: 1.3rem;
	margin: 0;
	margin-bottom: 1rem;
	color: var(--grey);
}

.welcome__title--buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.welcome__title--buttons a {
	text-decoration: none;
	color: var(--main-color);
}

.welcome__title--buttons button {
	border: none;
	border-radius: 1rem;
	background: linear-gradient(135deg, var(--second-color), var(--main-color));
	color: white;
	width: 12rem;
	height: 2.5rem;
	font-size: 1.3rem;
	transition: 0.5s;
	cursor: pointer;
}

.welcome__title {
	width: 100%;
	border-radius: 0 3rem 3rem 0;
	padding: 1rem;
}

.demo-home-img {
	width: 100%;
}

.demo-home-mobile-img {
	width: 100%;
	display: none;
	margin-top: 3rem;
}

@media (width < 35rem) {
	.demo-home-img {
		display: none;
	}
	.demo-home-mobile-img {
		display: block;
	}
}

@media (width < 19rem) {
	.demo-home-mobile-img {
		display: none;
	}
}
