.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1002;
	backdrop-filter: blur(0.2rem);
}

.modal-content {
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background: var(--window);
	border: 1px solid var(--window);
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-width: 20rem;
}

.input-field {
	padding: 0.3rem;
	border: none;
	border-radius: 0.5rem;
	background: var(--window);
	outline: none;
	height: 2.5rem;
}

.modal-buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: auto;
}

.cancel-btn {
	padding: 0.3rem 0.8rem;
	border: none;
	background: transparent;
	border-radius: 4px;
	cursor: pointer;
	color: var(--text);
}

.confirm-btn {
	padding: 0.3rem 0.8rem;
	border: none;
	background: var(--main-color);
	color: white;
	border-radius: 4px;
	cursor: pointer;
	height: 2rem;
}
