.storage {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 60rem;
	font-size: 1.3rem;
}

.storage-loader {
	width: 5rem;
	height: 5rem;
	margin-top: 5rem;
}

.storage-functions {
	display: inline-flex;
	width: 100%;
	align-items: center;
	font-size: 1rem;
	gap: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.storage-reload-button {
	height: 2rem;
	aspect-ratio: 1/1;
	background-color: transparent;
	border: none;
	font-size: 1.7rem;
	cursor: pointer;
	color: var(--grey);
	transition: 0.3s ease;
}

@media (hover: hover) {
	.storage-reload-button:hover {
		color: var(--text);
	}
}

.storage-reload-button.active {
	animation: rotateAnimation 1s ease infinite;
}

@keyframes rotateAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
