.storage {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 60rem;
	font-size: 1.3rem;
}

.storage-loader {
	width: 5rem;
	height: 5rem;
	margin-top: 5rem;
}

.storage-functions {
	display: inline-flex;
	width: 100%;
	align-items: center;
	font-size: 1rem;
	gap: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.storage-reload-button {
	height: 2rem;
	aspect-ratio: 1/1;
	background-color: transparent;
	border: none;
	font-size: 1.7rem;
	cursor: pointer;
	color: var(--grey);
	transition: 0.3s ease;
}

.storage__prev {
	height: 100%;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	background-color: transparent;
	display: inline-flex;
	align-items: center;
	font-size: 1.5rem;
	margin-right: auto;
	color: var(--text);
	width: 10rem;
}

.storage__prev span {
	margin-left: 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media (hover: hover) {
	.storage-reload-button:hover {
		color: var(--text);
	}
}

.storage-reload-button.active {
	animation: rotateAnimation 1s ease infinite;
}

@keyframes rotateAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (width < 27rem) {
	.storage-reload-button {
		display: none;
	}

	.upload section span {
		display: none;
	}

	.upload-button {
		width: 3rem !important;
	}
}
