.storage {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 60rem;
	font-size: 1.3rem;
}

.storage-loader {
	width: 5rem;
	height: 5rem;
	margin-top: 5rem;
}

.storage-functions {
	display: inline-flex;
	width: 100%;
	align-items: center;
	font-size: 1rem;
	gap: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.storage-reload-button {
	height: 2rem;
	aspect-ratio: 1/1;
	background-color: transparent;
	border: none;
	font-size: 1.7rem;
	cursor: pointer;
	color: var(--grey);
	transition: 0.3s ease;
}

.storage__prev {
	height: 100%;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	background-color: transparent;
	display: inline-flex;
	align-items: center;
	font-size: 1.5rem;
	color: var(--text);
	width: 10rem;
}

.storage__prev span {
	margin-left: 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.storage .context-menu h2 {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0.3rem 0.6rem;
}

.storage .context-menu p {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.9rem;
	color: var(--grey);
	border-bottom: 1px solid var(--grey);
	padding: 0.3rem 0.6rem;
}

.drag-and-drop-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 2px dashed var(--text);
	border-radius: 0.8rem;
	padding: 2rem;
}

.drag-and-drop-modal__icon {
	font-size: 10rem;
}
.drag-and-drop-modal__text {
	font-size: 3rem;
}

.switcher-showing-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1px;
	border-radius: 20rem;
	width: 7rem;
	margin-left: auto;
	color: var(--text);
}

.switcher-showing-button button {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
	border: none;
	background-color: var(--window);
	cursor: pointer;
	padding: 0.5rem;
}

.switcher-showing-button button:first-child {
	border-radius: 20rem 0 0 20rem;
}

.switcher-showing-button button:last-child {
	border-radius: 0 20rem 20rem 0;
}

@media (hover: hover) {
	.switcher-showing-button button:hover {
		opacity: 0.8;
	}
}

@keyframes rotateAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (width < 27rem) {
	.storage-reload-button {
		display: none;
	}

	.upload section span {
		display: none;
	}

	.upload-button {
		width: 3rem !important;
	}
}
