@media (width < 42rem) {
	header .logo {
		margin-right: auto;
	}
	header nav {
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		flex-direction: column;
		background-color: var(--background);
		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out;
		z-index: 999;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		gap: 2rem;

		a {
			height: auto;
		}
	}

	.nav-active {
		transform: translateX(0);
	}

	.burger-menu {
		display: block;
		z-index: 1000;
	}

	.logo {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (width < 28rem) {
	.theme-switch {
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		background-color: var(--switch-circle, #fff); /* Сделаем его цветом круга */
		position: static;
		background-color: transparent;
	}

	.theme-switch .switch {
		width: 100%;
		height: 100%;
		position: static;
	}
	.theme-switch .switch.light {
		transform: none;
	}
	.theme-switch .switch.dark {
		transform: none;
	}

	header .logo {
		display: none;
	}

	.header__elements {
		margin-left: auto;
	}
}
@media (width < 22rem) {
	.logo-text {
		display: none;
	}
}

@media (width < 16rem) {
	header .logo {
		display: none;
	}
	header {
		justify-content: end;
	}
}
