nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1rem;
	gap: 1rem;
}

nav a {
	text-decoration: none;
	color: var(--grey);
	height: 100%;
	transition: color 0.3s ease, fill 0.3s ease;
}

@media (hover: hover) {
	nav a:hover {
		color: var(--text);
	}
}
