.logo {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	text-decoration: none;
	color: var(--text);
}

.logo-image {
	width: 2rem;
	height: 2rem;
}

.logo-text {
	font-size: 1.5rem;
	font-weight: 600;
}
