.home-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 60rem;
	gap: clamp(1rem, 20vw, 10rem);
	margin-left: auto;
	margin-right: auto;
}

.home-main section {
	width: 100%;
}

.home-main section h1 {
	text-align: center;
}

@media (width < 46rem) {
	.privilege {
		flex-direction: column;
	}
	.privilege-card {
		width: 100%;
		aspect-ratio: unset;
	}
}
