.home-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: clamp(1rem, 20vw, 10rem);
}

.home-main .features {
	width: 100%;
	height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.home-main .statistic {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 20rem;
}
