.answers-questions {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.answers-questions-block {
	display: flex;
	flex-direction: column;
	justify-content: end;
	cursor: pointer;
	border-radius: 0.8rem;
	padding: 0.3rem;
}

.answers-questions-block-head {
	display: inline-flex;
	gap: 0.8rem;
}

.answers-questions-block p {
	font-size: 1.3rem;
	margin-left: 2rem;
	color: var(--grey);
	animation: p-animation ease 0.3s;
}

.answers-questions-block h2:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: center;
}

.answers-questions-block h2:first-child.active {
	animation: rotate 0.3s ease forwards;
	transform-origin: center;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}

@keyframes p-animation {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
