.answers-questions {
	display: flex;
	flex-direction: column;
}

.answers-questions-block {
	display: flex;
	flex-direction: column;
	justify-content: end;
	cursor: pointer;
	padding: 1rem;
}

.answers-questions-block-head {
	font-size: 0.8rem;
	display: inline-flex;
	gap: 0.8rem;
}

.answers-questions-block p {
	color: var(--grey);
}

.answers-questions-block p.close {
	visibility: hidden;
	transform: translateY(-20px);
	opacity: 0;
	max-height: 0;
	transition: 0.2s ease;
}

.answers-questions-block p.open {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
	transition: 0.2s ease;
	max-height: auto;
}

.answers-questions-block h2:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: center;
}

.answers-questions-block h2:first-child.active {
	animation: rotate 0.3s ease forwards;
	transform-origin: center;
}

.answers-questions-block:not(:last-child) {
	border-bottom: 1px solid var(--border);
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}
