.profile {
	cursor: pointer;
}

.avatar {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	transition: 0.3s;
}

.profile ul {
	right: 1rem;
}

.profile-unauthoraized {
	display: flex;
	gap: 0.5rem;
}

.profile-unauthoraized button {
	border: 1px solid var(--grey);
	height: 1rem;
	width: 3rem;
	background-color: transparent;
	text-align: center;
}

.profile-unauthoraized button:last-child {
	border: 1px solid var(--main-color);
}

@media (hover: hover) {
	.avatar:hover {
		scale: 1.1;
	}
}
