.profile {
	cursor: pointer;
	position: relative;
}

.profile-loader {
	width: 3rem;
	height: 3rem;
	display: flex;
	padding: 0.7rem;
	align-items: center;
	justify-content: center;
}

.avatar {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	transition: 0.3s;
}

.profile ul {
	right: 1rem;
}

.profile-avatar {
	display: flex;
	width: 2.5rem;
	height: 2.5rem;
	align-items: center;
	border-radius: 100%;
	justify-content: center;
	transition: 0.3s;
	font-size: 1.5rem;
}

.profile-avatar a {
	color: var(--text);
	text-decoration: none;
}

.profile .context-menu h2 {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.profile .context-menu p {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.9rem;
	margin: 0.5rem 0;
	color: var(--grey);
	border-bottom: 1px solid var(--grey);
	padding: 0.3rem;
}

@media (hover: hover) {
	.avatar:hover {
		scale: 1.1;
	}
}
