.pricing-main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.pricing-main > section {
	width: 70%;
}

@media (width < 85rem) {
	.pricing-main > section {
		width: 100%;
	}
}

@media (width < 62.5rem) {
	.pricing-main > section {
		width: 100%;
	}
}

@media (width < 60rem) {
	.pricing-main .privilege {
		flex-direction: column;
	}
	.pricing-main .privilege-card {
		width: 100%;
		aspect-ratio: unset;
	}
}
