.list-options {
	list-style: none;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.list-options .option {
	padding: 0.3rem 0.6rem;
	cursor: pointer;
	border-radius: 0.8rem;
	transition: 0.2s ease;
	color: var(--text);
}

.list-options .option span {
	margin-right: 0.3rem;
}

@media (hover: hover) {
	.list-options .option:hover {
		background-color: var(--text);
		color: var(--background);
	}
}
