.slider-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 1rem;
}

.slider {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
	gap: 0.6rem;
	padding: 1rem 0.2rem;
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider__card {
	height: 100%;
	scroll-snap-align: start;
	display: flex;
	flex-direction: column;
	border-radius: 0.6rem;
	padding: 0.6rem;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0.3rem 0.6rem 0.125rem rgba(34, 60, 80, 0.2);
	backdrop-filter: blur(10px);
	background: linear-gradient(135deg, #59cff1, #97a7fd);
	text-align: center;
	color: white;
}

.slider__card h2,
.slider__card p {
	width: 50%;
}

.slider-dots {
	position: absolute;
	bottom: 0.2rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 0.5rem;
}

.slider-dot {
	width: 0.8rem;
	height: 0.8rem;
	background-color: lightgray;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.slider-dot.active {
	background-color: var(--main-color);
	transform: scale(1.2);
}
