.storage-tiles {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	gap: 2rem;
	width: 100%;
	height: auto;
}

.tile {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
	position: relative;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	border-radius: 0.8rem;
}

.tile:not(:has(.tile_hover-info)) {
	cursor: pointer;
}

.tile .file-icon {
	font-size: 7rem;
	width: 7rem;
	height: 7rem;
	aspect-ratio: 1/1;
}

.tile-file-preview {
	object-fit: cover;
	height: 7rem;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tile span {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	text-wrap: nowrap;
}

.tile .tile_hover-info {
	display: none;
	background-color: var(--window);
	border-radius: 0.8rem;
	font-size: 1rem;
	width: 100%;
	position: absolute;
	top: calc(100% + 1rem);
	left: 0;
	padding: 1rem;
	z-index: 5;
	justify-content: space-between;
}

.tile .tile_hover-info span:first-child {
	flex: 2 0 70%;
}

.tile .tile_options {
	position: absolute;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
	border-radius: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
}

@media (hover: hover) {
	.tile:hover,
	.tile.focus {
		background-color: var(--window);
	}

	.tile:hover .tile_options,
	.tile.focus .tile_options {
		visibility: visible;
		opacity: 1;
	}

	.tile:hover .tile_hover-info,
	.tile.focus .tile_hover-info {
		display: flex;
		animation: tile_hover-info 0.3s ease;
	}
}

@media (hover: none) {
	.tile.focus {
		background-color: var(--window);
	}

	.tile.focus .tile_options {
		visibility: visible;
		opacity: 1;
	}

	.tile.focus .tile_hover-info {
		display: flex;
		animation: tile_hover-info 0.3s ease;
	}
}

@keyframes tile_hover-info {
	from {
		opacity: 0;
		transform: translateY(1rem);
	}
}
