.sort-section {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	margin-top: 2rem;
}

.sort-button {
	padding: 0.3rem 0.5rem;
	background-color: transparent;
	text-align: start;
	border: none;
	font-size: 1.3rem;
	border-radius: 0.3rem;
	cursor: pointer;
}

.sort-button svg {
	width: 2rem;
}
