.context-menu {
	position: fixed;
	z-index: 1000;
	list-style-type: none;
	background: var(--glass);
	backdrop-filter: blur(0.6rem);
	padding: 0.3rem;
	border-radius: 0.3rem;
	box-shadow: 0px 0.3rem 0.6rem 0.125rem rgba(34, 60, 80, 0.2);
	animation: slide-in 0.3s ease forwards;
	font-size: 1rem;
}

.context-menu li {
	padding: 0.3rem 0.6rem;
	cursor: pointer;
	transition: color 0.3s ease, fill 0.3s ease;
}

.context-menu li span {
	margin-right: 0.3rem;
}

@keyframes slide-in {
	0% {
		height: 0;
		transform: scaleY(0.1);
	}
	50% {
		height: calc(auto/2);
		transform: scaleY(1.05);
	}
	100% {
		height: auto;
		transform: scaleY(1);
	}
}

@media (hover: hover) {
	.context-menu li:hover {
		color: var(--main-color);
	}
}

@media (hover: none) {
	.context-menu li:active {
		scale: 1.05;
	}
}
