.context-menu {
	z-index: 997;
	list-style-type: none;
	background: var(--window);
	padding: 0.3rem;
	border-radius: 0.3rem;
	/* box-shadow: 0px 0.3rem 0.6rem 0.125rem rgba(34, 60, 80, 0.2); */
	animation: slide-in 0.3s ease forwards;
	font-size: 1rem;
	max-width: 15rem;
}

/* .context-menu .list-options .option {
	color: black;
}

@media (hover: hover) {
	.context-menu .list-options .option:hover {
		background-color: black;
		color: white;
	}
} */

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: scale(0.8) translateY(-10px);
	}
	50% {
		opacity: 0.5;
		transform: scale(1.05) translateY(0);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}
